@model IEnumerable<Thiago_Vinicius_DR2_AT.Models.Aniversariante>
@{
}


<div class="text-center">



        <h1 class="display-5">Aniversariantes de Hoje:</h1>
        @{
            if (ViewBag.aniversariantesDeHoje != null)  {

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data de aniversario</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        <tr>

            @{
                foreach (var item in ViewBag.aniversariantesDeHoje)
                {
                <tr>
                    <td>@item.Nome @item.Sobrenome</td>
                    <td>@item.DataDeAniversario</td>
                    <td>faltam @item.CalcularAniversario() dias para o aniversário</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary" asp-action="Criar" asp-controller="Aniversariantes" asp-route-id=@item.Id>Editar</a>
                            <a role="button" class="btn btn-danger" asp-action="Delete" asp-controller="Aniversariantes" asp-route-id=@item.Id>Apagar</a>
                        </div>
                    </td>
                </tr>
                }
            }
        </tr>

                </tbody>

</table>
        }
        else
        {
            <p class="alert alert-primary">Não tem-se aniversarantes hoje</p>
        }
    }


    <h1 class="display-5">Proxímos Aniversariantes:</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data de aniversario</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @{
                foreach (var item in Model)
                {
                    if (item.CalcularAniversario() != 0)
                    {
                    <tr>
                    <td>@item.Nome @item.Sobrenome</td>
                    <td>@item.DataDeAniversario</td>
                    <td>faltam @item.CalcularAniversario() dias para o aniversário</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary" asp-action="Criar" asp-controller="Aniversariantes" asp-route-id=@item.Id>Editar</a>
                            <a role="button" class="btn btn-danger" asp-action="Delete" asp-controller="Aniversariantes" asp-route-id=@item.Id>Apagar</a>
                        </div>
                    </td>
                </tr>
                    }
                }
            }
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" role="button" asp-action="Index" asp-controller="Aniversariantes">Ver todas as pessoas</a>
</div>